body {
  overflow-y: hidden;
}

/*
 * Hide number spinners for firefox
 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.abbreviation-autocomplete input[type=text] {
  background-color: #283593;
  color: #fff;
}
.abbreviation-autocomplete ul {
  z-index: 1;
}

.input-field input[type=text], .input-field input[type=number] {
  box-sizing: border-box;
  padding-left: 1em;
}

.tabs .indicator {
  background-color: #eee;
}
.tabs .tab a.active {
  background-color: #3949ab;
  color: #fff;
}
.tabs .tab a:focus.active {
  background-color: #3949ab;
}

#config {
  margin-top: 2em;
  padding: 1em 1em 0 1em;
}

#configJSON {
  padding: 0.75em;
}

#main {
  height: calc(100% - 64px);
  overflow-y: scroll;
}