body {
  overflow-y: hidden
}

.input-field input[type="text"] {
  box-sizing: border-box;
  padding-left: 1em
}

#config {
  margin-top: 2em;
  padding: 1em 1em 0 1em
}

#configJSON {
  padding: .75em
}

#main {
  height: 100%;
  overflow-y: scroll
}
