@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/materialIcons.woff2) format('woff2');
}

body, html{
    height: 100%;
}

body{
    background-image: url(../assets/img/WeatherBotBackground.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: unset;
}

nav ul a:hover {
    background-color: #1a237e;
}

nav .brand-logo{
    padding:  0 .5em;
}

.nav-wrapper.indigo.darken-4{
    background-color: #1a237e88 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

