{{=[[ ]]=}}
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="[[& extended-path ]]favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="[[& extended-path ]]favicon-16x16.png">
    <title>Config Maker</title>
    [[> shared-styles]]
    <link rel="stylesheet" href="[[& extended-path ]]css/configMaker.css">
    <link rel="stylesheet" href="[[& extended-path ]]abbreviationAutocomplete/abbreviation-autocomplete.css">
    <script src="[[& extended-path ]]js/vue.min.js"></script>
  </head>
  <body>
    [[> nav]]
    <div id="main">
      <div id="config" class="container indigo darken-4 clear">
        <h4 class="white-text">Required Configuration</h4>
        <h5 class="white-text">Logging</h5>
        <div class="input-field">
          <input placeholder="folder for logs (relative to index.js)" type="text" class="indigo darken-3 white-text" v-model="config.log.logDir">
        </div>

        <h5 class="white-text">Twitter</h5>
        <div class="input-field">
          <input placeholder="consumer key" type="text" class="indigo darken-3 white-text" v-model="config.twitter.consumer_key">
        </div>
        <div class="input-field">
          <input placeholder="consumer secret" type="text" class="indigo darken-3 white-text" v-model="config.twitter.consumer_secret">
        </div>
        <div class="input-field">
          <input placeholder="access token key" type="text" class="indigo darken-3 white-text" v-model="config.twitter.access_token_key">
        </div>
        <div class="input-field">
          <input placeholder="access token secret" type="text" class="indigo darken-3 white-text" v-model="config.twitter.access_token_secret">
        </div>

        <h5 class="white-text">OpenWeatherMap</h5>
        <ul class="tabs indigo darken-3">
          <li class="tab"><a href="#city-id" class="white-text" @click="ui.weather.openWeatherMap.locationType = 'id'">City ID</a></li>
          <li class="tab"><a href="#city-name" class="white-text" @click="ui.weather.openWeatherMap.locationType = 'name'">City Name</a></li>
          <li class="tab"><a href="#coord" class="white-text" @click="ui.weather.openWeatherMap.locationType = 'coord'">Coordinates</a></li>
          <li class="tab"><a href="#zip-code" class="white-text" @click="ui.weather.openWeatherMap.locationType = 'zip'">ZIP Code</a></li>
        </ul>
        <div id="city-id">
          <div class="input-field">
            <input placeholder="city ID" type="number" class="indigo darken-3 white-text" v-model.number="config.weather.openWeatherMap.location['id']">
          </div>
        </div>
        <div id="city-name">
          <div class="input-field">
            <input placeholder="city name" type="text" class="indigo darken-3 white-text" v-model="config.weather.openWeatherMap.location['name']">
          </div>
          <div class="input-field">
            <abbreviation-autocomplete :data="ui.countryCodeAutocompleteData" :limit="10" :min-input-length="2" placeholder="country code"></abbreviation-autocomplete>
          </div>
        </div>
        <div id="coord">
        </div>
        <div id="zip-code">
        </div>

        <h4 class="white-text">Config JSON</h4>
        <div class="input-field">
          <textarea id="configJSON" class="materialize-textarea indigo darken-3 white-text" v-model="ui.configJSON.configText"></textarea>
        </div>
      </div>
    </div>
    [[> about-modal]]
    [[> shared-scripts]]
    <script src="[[& extended-path ]]abbreviationAutocomplete/abbreviation-autocomplete.js"></script>
    <script src="[[& extended-path ]]js/configMaker.js"></script>
  </body>
</html>
