<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>About COMOWeather</title>
        {{> shared-styles}}
    </head>
    <body>
        {{> nav}}
        <div id="main">
        </div>
    </body>
</html>
